* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: Poppins;
}

body {
  background: gray;
  color: white;
}

header {
  margin: 20px 0;
}

.board {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  background: black;
  margin: 20px auto;
  border-color: black;
  border-style: dashed;
  border-width: 20px;
}

.box {
  transition: ease-out 0.2s;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.p1::before {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(128, 0, 122);
  content: "";
  border-radius: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* .p1:hover,.p1:hover{
  transform: scale(1.01);
} */


.p2::before {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(83, 128, 0);
  content: "";
  border-radius: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.c1 {
  background: rgb(2, 71, 68);
}
.c2 {
  background: aliceblue;
}

table {
  margin: 50px auto;
}

table td {
  width: 50px;
  height: 50px;
  background: white;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

tbody tr:nth-child(odd) td:nth-child(even) {
  background: brown;
}

tbody tr:nth-child(even) td:nth-child(odd) {
  background: brown;
}

/**
1px = 1/96th of 1in


absolute
px

relative
vh
vw
%
**/

.flex {
  display: flex;
  justify-content: center;
}
